<!DOCTYPE html>

<html lang="en">
<head>
  <title>{{ page.title }} - Docs - Schema.org</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Static Doc Insert Head -->
<meta name="viewport" content="width=device-width, initial-scale=1, , shrink-to-fit=no">
<meta name="description" content="Schema.org is a set of extensible schemas that enables webmasters to embed
structured data on their web pages for use by search engines and other applications." />
<link rel="shortcut icon" type="image/png" href="/docsite/assets/images/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="https://schema.org/docs/schemaorg.css" />

<!-- Static Doc Insert Head end -->

<!--<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&family=Roboto&display=swap" rel="stylesheet">-->
  <link href="/docsite/assets/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="/docsite/assets/css/custom.css">
</head>
<body>
 <!-- <script src="/assets/js/sdolinks.js"></script>-->

  <div id="main">
<!-- Static Doc Insert PageHead -->

<div id="container">
  <div id="headerwrap">
    <div id="pagehead1" class="mobnav">
      <div class="header-block" id="pagehead-left">
        <div id="sitename2">
          <a href="https://schema.org">Schema.org</a>
        </div>
        <div id="navicon2">
          <a href="javascript:void(0);" class="icon" onclick="navFunction()"><img height="40" alt="menu" src="https://schema.org/docs/menu-bar-icon-white.png"></a>
        </div>
      </div>
      <div  class="header-block header-block-right mobnav" id="pagehead-mid">
        <div id="selectionbar2">
          <ul>
            <li>
              <a href="/">Documentation</a>
            </li>
            <li>
              <a href="/SchemaInfo/schemas.html">Schemas</a>
            </li>
            <li>
              <a href="/about.html">About</a>
            </li>
          </ul>
        </div> <!-- selectionbar -->
      </div>
      <div  class="header-block header-block-right mobnav" id="pagehead-right">
        <div id="cse-search-form2">
            <div class="gcse-searchbox-only" data-resultsUrl="https://schema.org/docs/search_results.html"></div>
        </div>
      </div>
    </div>
  </div>
</div>
  
 
    <main id="{{ main_id }}" class="container-fluid">
      <div class="row">
        <div id="main-side-nav" class="col-3">
          {% include sidebar.html %}
        </div>
        <div class="col-9">
          <div id="main-doc-content">
            {% unless page.url == "/" %}
              {% if page.parent %}
                <nav aria-label="Breadcrumb" id="main-breadcrumb">
                  <ol class="breadcrumb">
                    {% if page.grand_parent %}
                      <li class="breadcrumb-item"><a href="{{ first_level_url }}">{{ page.grand_parent }}</a></li>
                      <li class="breadcrumb-item"><a href="{{ second_level_url }}">{{ page.parent }}</a></li>
                    {% else %}
                      <li class="breadcrumb-item"><a href="{{ first_level_url }}">{{ page.parent }}</a></li>
                    {% endif %}
                    <li class="breadcrumb-item active"><span>{{ page.title }}</span></li>
                  </ol>
                </nav>
              {% endif %}
            {% endunless %}
            {{ content }}
          </div>
        </div>
      </div>
    </main>

    <footer id="main-footer">
    </footer>
  </div>
  <a href="/terms.html">Terms and conditions</a>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52672119-1', 'auto');
  ga('send', 'pageview');

(function() {
var cx = '013516846811604855281:nj5laplixaa'; // Insert your own Custom Search engine ID here
var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
})()

</script>
</body>
</html>
